*{
    margin: 0;
    padding: 0;
}
.nav-link{
    position: relative;
    transition: .4s;
}
.nav-link:hover::after {
    content: "";
    background-color: yellow;
    height: 50%;
    width: 2px;
    position: absolute;
    top: 13px;
    bottom: 0px;
    left: 3%;
    right: 100%;
}
.nav-link:hover::before {
    content: "";
    background-color: yellow;
    height: 50%;
    width: 2px;
    position: absolute;
    top: 13px;
    bottom: 0px;
    left: 96%;
    right: 0px;
}
nav#main-nav {
    background: #0000000d;
    color: white;
}
.nav-link{
    font-size: 21px;
    text-transform: uppercase;
    margin-left: 40px;
}
#nav-link1{
    color: yellow;
}
.nav-link:hover{
    color: yellow;
}
#second-head-box{
    text-align: center;
}
.heading-h2 {
    margin-top: 37px;
}
.heading-h1 {
    color: rgba(237, 33, 135, 0.98);
    font-size: 53px;
    letter-spacing: 18px;
}
.heading-pera {
    font-size: 24px;
    word-spacing: 5px;
}
.heading-btn {
    background-color: rgba(237, 33, 135, 0.98);
    border-radius: 3px;
    border: none;
    margin-bottom: 36px;
    color: white;
    height: 34px;
    font-size: 20px;
    padding: 1px 20px;
    transition: all .4s;
}
.heading-btn:hover{
    background-color: #fff;
    color: #000;
}
#container-col{
    text-align: right;
}
#prg {
    height: 28px;
    text-transform: uppercase;
}
#container-h2 {
    margin-top: 59px;
}
h4#container-h4 {
    color: #A21AF0;
}
#container-pera {
    padding: 10px 0px 10px 71px;
}
img#container-col1-img {
    margin-top: 36px;
}
.container-fluid {
    background: #DCDCDE;
}
#danger {
    color: #828283;
    width: 1223px;
    margin: auto;
}
i.fas.fa-mobile-alt {
    font-size: 38px;
    padding: 17px;
    background: #171317;
    color: white;
    border-radius: 36px;
    position: absolute;
    top: 42px;
    left: 24px;
}
address {
    position: relative;
   /* left: 86px;*/
}
address#add0 {
    position: relative;
    left: 84px;
    top: 32px;
}
i.fas.fa-map-marker-alt {
    font-size: 34px;
    background: #1C191C;
    position: relative;
    top: 52px;
    color: white;
    padding: 16px;
    border-radius: 30px;
}
address#add1 {
    position: relative;
    left: 67px;
    top: -29px;
}
i.fas.fa-cogs {
    font-size: 34px;
    background: #161317;
    padding: 14px;
    border-radius: 57px;
    position: relative;
    top: 60px;
    color: white;
}
address#add2 {
    position: relative;
    left: 83px;
    top: -20px;
    width: 260px;
}
h4{
    font-weight: bolder;
}
p#row1-pera {
    width: 100%;
}
h3#row1-h3 {
    width: 100%;
    margin-top: 28px;
    font-weight: bolder;
}
#second-icons:hover{
    background-color: green;
    color: yellow;
   
}
i#second-icons {
    font-size: 34px;
    background: #000000c7;
    padding: 14px;
    border-radius: 57px;
    position: relative;
    top: 60px;
    color: white;
}
div#container-row {
    text-align: center;
    color: #15263E;
    background: white;
}

div#row-1 {
    text-align: center;
    margin-top:20px;
}
p#second-pera {
    padding: 15px;
    margin-top: -19px;
}
h3#second-h3 {
    margin-top: 66px;
    font-weight: bolder;
}
div#container-happy {
    height: 273px;
    text-align: center;
}
h2.happy-testimonial {
    width: 100%;
    text-align: center;
    margin-top: 35px;
}
p.happy-pera {
    width: 400px;
    margin-left: 309px;
    text-align: right;
}
i.fas.fa-quote-left,i.fas.fa-quote-right {
    font-size: 25px;
}
img#happy-img {
    border-radius: 50%;
    margin-top: 3%;
    margin-left: 5%;
}
h2#happy-h2 {
    margin-top: 2%;
    margin-left: 2%;
    word-spacing: 20px;
}

p#happy-pera {
    margin-top: 5%;
    margin-left: -11%;
    color: #C714D5;
}
div#portfolio-container {
    text-align: center;
}
li#portfolio-li {
    text-align: left;
    list-style: none;
}
img#img {
    height: 332px;
    width: 355px;
    margin-top: 28px;
    border-radius: 9px;
}
div#expn {
    background: #dcdcde;
    margin-top: 55px;
    color: #1e1e25;
    height: 500px;
}
#expn-row{
    text-align: center;
}
address.add-expn1 {
    width: 206px;
    text-align: right;
    position: relative;
    top: 20px;
    left: -35px;
}

span.expn-pip {
    font-size: 46px;
    font-weight: bolder;
    position: relative;
    top: -61px;
    left: 211px;
}

p.expn-pera {
    width: 979px;
    position: relative;
    top: -112px;
    left: 229px;
}
address.add-expn2 {
    width: 206px;
    text-align: left;
    position: relative;
    top: -212px;
    left: 1023px;
}

span.expn-pip2 {
    font-size: 46px;
    font-weight: bolder;
    position: relative;
    top: -162px;
    left: 983px;
}

p.expn-pera2 {
    width: 979px;
    position: relative;
    top: -80px;
    left: -14px;
    text-align: right;
}
div#col-section2 {
    margin-top: -207px;
}
div#col-blog {
    width: 100%;
    text-align: center;
}
img#blog-img {
    height: 192px;
}
h1#blog-h1 {
    margin-top: 24px;
}
h1#blog-h1 {
    margin-top: 24px;
}

input[type="text"] {
    border-radius: 2px;
    border: none;
}

input[type="texbox"] {
    border-radius: 1px;
    border: none;
    padding-left: 3px;
}